body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: darkturquoise;
    margin: 0;
    padding: 0;
}

.titulo{
    text-align: center;
    color: rgb(68, 66, 66);
}

.menu ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.menu a{
    text-decoration: none;

    color: rgb(71, 69, 69);
    background-color: inherit;

}

.menu a:hover{
    border: 1px solid rgb(56, 55, 55);
    background-color: rgb(75, 90, 85);
    color: white;
    border-radius: 10px;
}

.menu{
    display: flex;
}